@import 'normalize.css';

$primary-color: #ffbf00;
$dark-color: #00171f;
$accent-color: #508ca4;
$light-color: #fbf5f3;

body {
  background-color: $dark-color;
  color: $light-color;

  // Borders
  border: 1px solid $light-color;
  height: 13rem;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  width: 15rem;
}
