@import 'normalize.css';

$primary-color: #ffbf00;
$dark-color: #00171f;
$light-color: #75b9be;
$accent: #9e2b25;
$light-color: #eee5e9;

body {
  background-color: $dark-color;
  color: $light-color;

  // Borders
  border: 2px solid $light-color;
}

.input-group {
  display: flex;

  margin: 1rem 0;

  flex-direction: row;
  gap: 1rem;

  align-items: center;
}