@import 'common.scss';

.container {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*
 * Title Section
 */
#big-title {
  font-size: 1rem;
  color: $light-color;
  h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

#sell-title {
  font-style: italic;
  color: $primary-color;
}

/*
 * Amount Section
 */
#amount {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  width: 100%;
  grid-gap: 1rem;
  text-align: center;
  font-weight: bold;
  color: $primary-color;
}

// Profit Analytics and Goal
#profit-goal-headline {
  color: $accent-color;
}

#profit {
  margin-left: 0;
  margin-right: auto;

  h3 {
    font-size: 1rem;
    color: $accent-color;
    margin-top: 0.6rem;
    margin-bottom: 0.25rem;
  }

  h1 {
    font-size: 2.25rem;
    margin: 0;
  }

  p {
    margin-top: 0.5rem;
  }
}

// Profit Progress Ring
#progress-goal {
  padding-top: 1rem;
  margin-left: auto;
  margin-right: 0;
}

@keyframes growProgressBar {
  0%, 33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --size: 5rem;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(closest-side, white 80%, transparent 0 99.9%, white),
  conic-gradient($primary-color calc(var(--pgPercentage) * 1%), #FAF3F0 0);
  font-size: calc(var(--size) / 5);
  color: $primary-color;
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
}

// Bottom Link Bar
#link-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

#link-bar button {
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: $accent-color;
  color: $light-color;
  cursor: pointer;
}